<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- LOGO-->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="/user">
        <img src="../../../assets/globe.png" height="30" alt="" loading="lazy" style="margin-top: 2px;" />
      </a>
      <!--form action="http://localhost:4200" method="get">
          <input  name="dest">
          <button></button>
      </form-->
      <!-- Search form -->
      <form #form="ngForm" (ngSubmit)="searchByDestinationHandler(form)"
        class="input-group w-auto my-auto d-none d-sm-flex">
        <input #destinationInput="ngModel" ngModel name="destination" autocomplete="off" type="search"
          class="form-control rounded" placeholder="Search destination" style="min-width: 125px;" />
        <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
      </form>
    </div>
    <!-- Left elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="p-2 text-primary"><a routerLink="/home">Home</a></li>
      <li class="p-2 text-primary"><a>Excursions</a></li>
      <li class="p-2 text-primary"><a>Vacations</a></li>
      <li *ngIf="islogged" class="p-2 text-primary"><a>Promotions</a></li>
      <li class="p-2 text-primary"><a>New</a></li>
      <li *ngIf="!islogged" class="p-2"><a routerLink="/login"><span class="text-danger">Login</span></a></li>
      <li *ngIf="!islogged" class="p-2 text-danger"><a routerLink="/register">Register</a></li>
    </ul>
    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active phone">
        <span><i class="fas fa-phone fa-lg m-3"></i></span>
      </li>
      <li class="phone m-3"><span>770070600</span></li>
      <li class="phone m-3"><span>778939348</span></li>
    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a *ngIf="islogged" class="nav-link d-sm-flex align-items-sm-center" href="#">
          <img src="https://mdbootstrap.com/img/new/avatars/1.jpg" class="rounded-circle" height="22" alt=""
            loading="lazy" />
          <strong class="d-none d-sm-block ms-1">{{getMail()}}</strong>
        </a>
      </li>
      <li *ngIf="islogged"><button type="button" class="btn btn-info btn-sm" (click)="logoutHandler()">Logout</button>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->