table, th, td {
    border: 1px solid black;
  }
  
  
  .container{
    min-height: 300px;
    
  }
  .container>{
    min-height: 60%;
  }

  .reservations{
    background-color: beige;
  }

  .statistics{
    background-color: aqua;
  }

  .container2{
    max-height: 40%;
  }