<footer class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <p>This site is designed to be used for the purposes of GTours.</p>  
      <a routerLink="/contacts">Contacts</a>
      <a *ngIf="islogged">Subscribe</a><!--if logged in -->    
      <p><span><i class="fab fa-facebook-f fa-lg m-3 text-primary"></i></span><a href="https://www.facebook.com/globaltour.bg/"></a>
      GTours Copyright &copy;
        2021</p>
    </div>
  </nav>
</footer>