
<div class="row">
  <article class="col-sm-3">
    <p class="p-5 text-info">address: <span>{{address}}</span></p>
    <p class="p-5 text-info">phone: <span>{{tel}}</span></p>
    <p class="p-5 text-info">Working hours:</p>

  </article>
  <article class="col-sm-9">
    <div class="mapouter row">
      <div class="img-responsive col-sm-6 gmap_canvas img-fluid">
        <iframe class="e2e-iframe-trusted-src" width="600" height="500" id="gmap_canvas"
          [src]="trustedUrl"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe><a href="https://www.embedgooglemap.net/blog/roblox-promo-codes/"></a>
      </div>
      <div class="col-sm-3 break">
        Данни за плащане по банков път:

        Гтурс БГ ЕООД
        Райфайзенбанк ЕАД
        IBAN: BG77RXXBB9155108XX68015 (сметка в лева)
        BIC: RZBBBSW
        Моля, не превеждайте пари, преди да сме потвърдили резервацията Ви.
      </div>
    </div>
  </article>
</div>