<div class="row">
  <div class="col-sm-2"></div>
  <div *ngIf="!!all.length" class="col-sm-8">
    <div class="row" *ngFor="let item of center;let i = index">
      <div *ngIf="left[i]" class="col-sm-3 col-lg-3 col-md-3 m-1">
        <app-trip [data]="left[i]"></app-trip>
      </div>
      <div class="col-sm-3 col-lg-3 col-md-3 m-1">
        <app-trip [data]="item"></app-trip>
      </div>
      <div *ngIf="right[i]" class="col-sm-3 col-lg-3 col-md-3 m-1">
        <app-trip [data]="right[i]"></app-trip>
      </div>
      <div class="col-sm-3 col-lg-3 col-md-3 m-1"></div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>